<%= @attraction.name %>

<form action = '/rides', method = "post">
    <input type="hidden" name="attraction_id" value="<%= @attraction.id %>">
    <input type='submit', value="Go on this ride" />
</form>